<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Two way data binding</title>
   <!-- React -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

   <!-- Babel -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
	


    <div id="example"></div>
    <script type="text/babel">

    	//create mixin to pass the same functionality to different components
    	//mixins are objects
    	var ReactMixin = {
    		getInitialState:function(){
    			return {count: 0,
    					text:'',
    					nextText:''};
    		},
    		incrementCount: function(){
    			this.setState({count: this.state.count+1});
    		},
    		resetCount: function(){
    			this.setState({count: 0});
    		},
    		//called when by componentDidMount
    		popText: function(){
    			console.log('pop next number');
    			if(this.state.count%5===0){
    				this.setState({text: "THIS number is a multiple of 5!"});
    			}
    			else{
    				this.setState({text: ""});
    			}
    		},
    		//called when by componentWillMount
    		popNextText: function(){
    			console.log('pop interval');
    			if(this.state.count-5==-1 || this.state.count%5===4){
    				this.setState({nextText: "NEXT number is a multiple of 5!"});
    			}
    			else{
    				this.setState({nextText: ""});
    			}
    		},
    		componentWillMount: function(){
    			setInterval(this.popNextText, 1000);
    		},
    		componentDidMount: function(){
    			setInterval(this.popText, 1000);
    		}
    	}

    	var App = React.createClass({
    		render: function(){
    			return(
    				<div>
    				<Button txt="I am a button" reset="Reset button count" />
    				<br />
    				<Label txt="I am a text" reset="Reset label count" />
    			</div>
    			);
    			
    		}
    	});

    	var Button = React.createClass({
    		//bring in mixin as an array
    		//objects in the mixin are now available to this component
    		mixins:[ReactMixin],
    		render: function(){
    			return(
    				<div>
    					<button onClick={this.incrementCount}>{this.props.txt} {this.state.count}</button>
    					<button onClick={this.resetCount}>{this.props.reset}</button>
    				</div>
    			);
    		}
    	});

    	var Label = React.createClass({
    		//bring in mixin as an array
    		//objects in the mixin are now available to this component
    		mixins:[ReactMixin],
    		componentWillMount: function(){
    			setInterval(this.incrementCount,1000);
    		},
    		render: function(){
    			return(
    				<div>
    					<label onClick={this.incrementCount}>{this.props.txt} {this.state.count}</label>
    					<br />
    					<span style={{color:"red"}}>{this.state.text}</span>
    					<br />
    					<span style={{color:"blue"}}>{this.state.nextText}</span>
    					<br />
    					<button onClick={this.resetCount}>{this.props.reset}</button>
    				</div>
    			);
    		}
    	});


    	ReactDOM.render(<App />, document.getElementById('example'));

    </script>
  </body>
</html>
