<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mounting</title>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

    <!-- Babel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">

    //controller component--this is only rendering the slider component
    var App = React.createClass({
        render: function(){
            return (
                <Slider style={{padding: "20px"}} />
            );
        }
    });

    //slider component--changes the color through RGB channels sliders via onChange
    //sets the background color of the wrapper div via onClick
    var Slider = React.createClass({
        getInitialState: function(){
            return {red: 0, 
                    green: 0, 
                    blue: 0, 
                    background:null, 
                    color:"black"};
        },
        //called when sliders are moved--onChange
        //sets the state of the colors
        //combines colors as RGB to be passed as inline CSS to the component
        update: function(){
            this.setState({red:this.refs.slider_red.value, green:this.refs.slider_green.value, blue:this.refs.slider_blue.value});
            this.chosenColor="rgb("+this.state.red+","+this.state.green+","+this.state.blue+")";
        },
        //sets the wrapper div background on click of a button
        setBackground: function(){
            this.setState({background:this.chosenColor});
        },
        //renders UI
        render: function(){
            return(
                <div style={{background:this.state.background, padding:"10px", color: this.state.color}}>
                    <h1>Color Slider</h1>
                    <label>Red Channel: {this.state.red}</label>  
                    <br />
                    <input ref="slider_red" type="range" min="0" max="255" onChange={this.update} defaultValue="0" />
                    <br />
                    <label>Green Channel: {this.state.green}</label>
                    <br />
                    <input ref="slider_green" type="range" min="0" max="255" onChange={this.update} defaultValue="0" />
                    <br />
                    <label>Blue Channel: {this.state.blue}</label>
                    <br />
                    <input ref="slider_blue" type="range" min="0" max="255" onChange={this.update} defaultValue="0" />
                    <p style={{marginBottom:"5px"}}>This is your chosen color:</p>
                    <p style={{width:"156px",background:this.chosenColor, padding: "20px", marginBottom:"5px", marginTop:"5px", border:"2px solid black", textAlign:"center"}}>rgb({this.state.red}, {this.state.green}, {this.state.blue});</p> 
                    <button style={{width:"200px", padding: "10px"}}onClick={this.setBackground}>Set as background</button>
                </div> 
            );
        },
    });

    ReactDOM.render(<App />, document.getElementById('example'));

    </script>
  </body>
</html>

