<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mounting</title>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

    <!-- Babel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">

    //values to be passed to controller component
    //this is part of component composition: if values are changed here, they affect ownee compoenents
    //makes the app modular and easy to maintain 
    var values =[{min:0, max:255, step:1, inputValue:0, type:'range', label:true}];


    //best practice: manage state in the controller component
    var App = React.createClass({
        getInitialState: function(){
            return {red:0,
                    green:0,
                    blue:0,
                    backgroundColor:null,
                    backgroundText: 'rgb(255, 255, 255)'}
        },
        //update color channels when sliders are moved
        update: function(){
            this.setState({
                red:this.refs.red.refs.slider.value,
                green:this.refs.green.refs.slider.value,
                blue:this.refs.blue.refs.slider.value
            });
            //changes the color values to display as text on the screen when sliders are moved
            this.state.backgroundText='rgb('+this.state.red+', '+this.state.green+', '+this.state.blue+')';

            //changes the color values to be passed as CSS to the "box" div when sliders are moved
            this.backgroundColor='rgb('+this.state.red+', '+this.state.green+', '+this.state.blue+')';
        },
        //sets the background color for the wrapper div on button click
        setBackground: function(){
            this.setState({backgroundColor:this.backgroundColor});
        },
        //outer div: changes bg according to the property "backgroundColor", which is set when button is clicked
        //<Slider /> gets props from App: App.props => Slider.gets.props(App.props) => Slider.sets.props(App.props)
        render: function(){
            return(
                <div style={{background:this.state.backgroundColor, padding:"20px"}}>
                    <h3>Move sliders to change the box's color</h3>
                    
                    <Slider 
                        ref="red" 
                        channel="Red Channel" 
                        update={this.update} 
                        channelValue={this.state.red} 
                        value={this.props.values.inputValue}
                        min={this.props.values.min}
                        max={this.props.values.max}
                        step={this.props.values.step}
                        type={this.props.values.type}
                        label={this.props.values.label}
                    />
                    <br />

                    <Slider 
                        ref="green" 
                        channel="Green Channel" 
                        update={this.update} 
                        channelValue={this.state.green} 
                        value={this.props.values.inputValue}
                        min={this.props.values.min}
                        max={this.props.values.max}
                        step={this.props.values.step}
                        type={this.props.values.type}
                        label={this.props.values.label} 
                    />
                    <br />

                    <Slider 
                        ref="blue" 
                        channel="Blue Channel" 
                        update={this.update} 
                        channelValue={this.state.blue} 
                        value={this.props.values.inputValuelue}
                        min={this.props.values.min}
                        max={this.props.values.max}
                        step={this.props.values.step}
                        type={this.props.values.type}
                        label={this.props.values.label}
                    />

                    <p>This is the chosen color: {this.state.backgroundText}</p>
                    <div style={{background:this.backgroundColor, height:"70px", width:"230px", border: "1px solid black"}}></div>
                    <button style={{height:"30px", width:"230px", marginTop:"5px", cursor:"pointer"}} onClick={this.setBackground}>Set Background Color</button>
                </div>
            );
        }
    });

    var Slider = React.createClass({
        //props validation
        //takes an object
        //if validation fails, warining is throw on console
        //reference: https://facebook.github.io/react/docs/reusable-components.html
        propTypes: {
            min: React.PropTypes.number,
            max: React.PropTypes.number,
            step: React.PropTypes.number,
            value: React.PropTypes.number,
            label: React.PropTypes.bool,
            update: React.PropTypes.func.isRequired,
            type: React.PropTypes.oneOf(['range', 'number'])
        },
        //set default props
        //reference: https://facebook.github.io/react/docs/reusable-components.html
        getDefaultProps: function(){
            return {
                min: 0,
                max: 255,
                step: 1,
                label: true,
                type: 'range',
                value: 0,
            };
        },
        //renders input field using the default props set above
        //propTypes validates if input is the correct type
        //not necessary on this app because I am passing the props but necessary when props are taken from user input
        render: function(){
            //if this.props.label is not an empty string, return the label tag, else return empty string
            var label = this.props.label!==''? <label>{this.props.channel} {this.props.channelValue}</label>:'';
            return(
                <div>
                    {label}
                    <br />
                    <input 
                    ref="slider"
                    min={this.props.min}
                    max={this.props.max}
                    step={this.props.step}
                    type={this.props.type} 
                    defaultValue={this.props.value}
                    onChange={this.props.update} />
                </div>
            );
        }
    });
    
    ReactDOM.render(<App values={values} />, document.getElementById('example'));

    </script>
  </body>
</html>

