<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Transformer</title>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

    <!-- Babel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <!-- must use this cdn, not babel -->
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx">

    var Transformer = React.createClass({
        getInitialState: function(){
            return{
                input:'',
                output:'',
                err:''
            };
        },
        update: function(e){
            var code = e.target.value;
            try
            {
                this.setState({
                    output: JSXTransformer.transform(code).code,
                    err:''
                });
            }
            catch(err)
            {
                 this.setState({
                    err:err.message
                });
            }
        },
        render: function(){
            return(
                <div>
                    <p style={{background:"rgb(255, 196, 193)"}}>&nbsp;{this.state.err}</p>
                    <span style={{marginRight:"48%"}}>Input</span> <span>Output</span>
                    <textarea onChange={this.update} defaultValue={this.state.input} style={{height: "600px", width: "48%", float:"left"}} />
                    <pre style={{height: "600px", width: "48%", border:"1px solid black", float:"left", marginLeft:"5px", marginTop:"0px"}}>{this.state.output}</pre>
                </div>  
            );
        }
    });
    
    ReactDOM.render(<Transformer />, document.getElementById('example'));

    </script>
  </body>
</html>

