<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mounting</title>
    <!-- React -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>

    <!-- Babel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">

    var App = React.createClass({
        getInitialState: function(){
            return {red:0,
                    green:0,
                    blue:0,
                    backgroundColor:null,
                    backgroundText: 'rgb(255, 255, 255)'}
        },
        //update color channels when sliders are moved
        update: function(){
            this.setState({
                red:this.refs.red.refs.slider.value,
                green:this.refs.green.refs.slider.value,
                blue:this.refs.blue.refs.slider.value
            });
            //changes the color values to display as text on the screen when sliders are moved
            this.state.backgroundText='rgb('+this.state.red+', '+this.state.green+', '+this.state.blue+')';

            //changes the color values to be passed as CSS to the "box" div when sliders are moved
            this.backgroundColor='rgb('+this.state.red+', '+this.state.green+', '+this.state.blue+')';
        },
        setBackground: function(){
            //sets the background color for the wrapper div on button click
            this.setState({backgroundColor:this.backgroundColor});
        },
        render: function(){
            return(
                <div style={{background:this.state.backgroundColor, padding:"20px"}}>
                    <h3>Move the sliders to change the box's color</h3>
                    <Slider ref="red" channel="Red Channel" update={this.update} channelValue={this.state.red} default={0}/>
                    <br />
                    <Slider ref="green" channel="Green Channel" update={this.update} channelValue={this.state.green} default={0} />
                    <br />
                    <Slider ref="blue" channel="Blue Channel" update={this.update} channelValue={this.state.blue} default={0} />
                    <p>This is the chosen color: {this.state.backgroundText}</p>
                    <div style={{background:this.backgroundColor, height:"70px", width:"230px", border: "1px solid black"}}></div>
                    <button style={{height:"30px", width:"230px", marginTop:"5px", cursor:"pointer"}} onClick={this.setBackground}>Set Background Color</button>
                </div>
            );
        }
    });

    var Slider = React.createClass({
        render: function(){
            return(
                <div>
                    <label>{this.props.channel} {this.props.channelValue}</label>
                    <br />
                    <input type="range" ref="slider" min="0" max="255" onChange={this.props.update} defaultValue={this.props.default} />
                </div>
            );
        }
    });

    ReactDOM.render(<App />, document.getElementById('example'));

    </script>
  </body>
</html>

