html,
body{
	height: 100%;
	background: rgb(45, 45, 45);
}
body{
	margin: 0;
}
#example{
	position: relative;
}
article{
	position: relative;
}
section{
	overflow:hidden;
}
h1.header,
h2.header,
p.apiError{
	box-sizing: border-box;
	position: absolute;
	width:100%;
	left: 0%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	z-index:10;
	font-size: 2em;
	text-transform: uppercase;
	color:white;
}
h1.header{
	top: 80px;
	font-size: 5em
}
h2.header,
p.apiError{
	top: 220px;
}
p.apiFetching{
	margin-top: 100px;
	text-align: center;
	z-index:10;
	font-size: 2.5em;
	text-transform: uppercase;
	color:white;
}
.spinner{
	font-size: 1.2em;
	text-align: center;
	color: white;
}
.form{
	width: 40%;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-left: -20%;
	z-index:10;
	box-shadow: 0 0 40px 5px black;
}
.form input{
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0;
	padding-left: 10px;
	border:none;
	font-size: 1em;
	letter-spacing: 0.8px;
}
.form button{
	margin-top: 5px;
	width: 100%;
	height: 40px;
	border:none;
	cursor: pointer;
	background: rgb(88, 126, 214);
	color: white;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.imageWrapper{
	float: left;
	width: 10%;
	height:100px;
	max-width:19%;
	max-height:100px;
	overflow:hidden;
}
.images{
	cursor: pointer;
	min-height: 100%;
	min-width: 100%;
	 -moz-transition: opacity .8s ease;
    -webkit-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease;
    opacity:.5;
}
.images:hover{
	opacity:1;
}
@media screen and (max-width: 1210px){
	.imageWrapper{
		width: 20%;
		max-width: 20%;
	}
}
@media screen and (max-width: 940px){
	.imageWrapper{
		width: 25%;
		max-width: 25%;
	}
	h1.header{
		font-size: 4em;
	}
}
@media screen and (max-width: 780px){
	.form{
		width: 80%;
		top: 45%;
		left: 50%;
		margin-left: -40%;
		z-index:10;
		box-shadow: 0 0 40px 5px black;
	}
	h2.header,
	p.apiFetching,
	p.apiError{
		font-size: 1.8em;
	}
	h1.header{
		font-size: 3em;
	}
}
@media screen and (max-width: 480px){
	.imageWrapper{
		width: 50%;
		max-width: 50%;
	}
	h2.header,
	p.apiFetching,
	p.apiError{
		font-size: 1.5em;
	}
	h1.header{
		font-size: 2em;
	}
}
