
li span{
	margin-right: 5px;
	margin-left: 5px;
}

.checkTodo{
	color: green;
	margin-left: 5px;
}

.uncheckTodo{
	display: none;
}

.displayTag{
	clear:both;
	float: left;
}
.deleteButton{
	background: #d9534f;
	color: #fefefe;
	border: none;
	border-radius: 50%;
}